div#container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
    margin: 2em;
}

img {
    height: 200px;
    width: 80%;
}